#headerNavbar {
    .navbar-nav-icons {
        .nav-item i {
            font-size: 24px;
        }

        .nav-item.active {
            i {
                color: #db6a26;
            }
        }
    }
}

#layout-content {
    margin-top: 120px;
}
